{% render 'partials/head.liquid' %}
</header>

<main>
    <h1>404 - Oh no! You're lost!</h1>
    <p>A wild {{ pokemon.name | capitalize }} blocked your path!</p>
    
    <img src="{{ pokemon.image }}" alt="" width="300" height="300">
    
    <p><a href="/">Go back home</a></p>
</main>

{% render 'partials/foot.liquid' %}