{% render 'partials/head.liquid' %}
<main>
  <ul>
    {% for item in pokemon %}
      <li>
        <img src="{{ item.image }}" alt="{{ item.name }}" width="100" height="100" >
        <p>{{ item.name }}</p>
      </li>
    {% endfor %}
  </ul>
</main>
{% render 'partials/foot.liquid' %}