{% render 'partials/head.liquid' %}
</header>
<main>
  <ul class="pokedex">
    {% for item in pokemon %}
      <li class="pokecard">
        <img src="{{ item.image }}" alt="{{ item.name }}" width="100" height="100" loading="lazy">
        <a href="/pokemon/{{ item.id }}"><p>{{ item.name | capitalize }}</p></a>
      </li>
    {% endfor %}
  </ul>
</main>
{% render 'partials/foot.liquid' %}